:root {
    --cor-de-fundo: #e7e6e6b7;
    --fonte-principal: "Montserrat", sans-serif !important;
    --cor-color-shadow: #000000;
    --cor-drop-shadow: #1f1e1ecb;
    --branco: #ffffff;
    --branco2: #d3d3d3;
    --cinza: #4747474b;
    --cor-azul0: #5356ffa1;
    --cor-azul1: #adcffc;
    --cor-amarelo: #ffc302ff;
    --cor-laranja0: #fccb90;
    --cor-laranja1: #ff8b06;
    --cor-laranja2: #ff7300;
    --cor-laranja3: #fc5c00;
    --cor-vermelho0: #ff0000;
    --cor-vermelho1: #a00000;
    --cor-sombra: #3f3f3fbd;
    --cor-borda: #000000;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    font-weight: 300;
}

.form-control:focus {
    border-color: orange !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 166, 0, 0.486) !important;
}

.container {
    background-color: white;
    margin: 1rem auto 1rem auto;
    border-radius: 1rem;
    border-width: 0 10px 16px 0;
    border-style: solid;
    border-color: #ff8b06;
    border-spacing: 8rem;
    box-shadow: 4px 5px 15px #444343;
}

.cab {
    margin-top: 2rem;
}

thead {
    background-color: var(--cor-laranja1) !important;
    color: var(--branco) !important;
    box-shadow: 2px 2px 2px 1px var(--cor-amarelo);
    text-align: center !important;
}

.todos {
    border: 4px solid rgb(255, 255, 255) !important;
}

td {
    text-align: center !important;
}

th.negrito {
    font-weight: bold !important;
}

th {
    text-align: center !important;
    white-space: nowrap !important;
    padding-left: 1.5rem !important;
}

table {
    border-collapse: separate !important;
    border-spacing: 0 10px !important;
}

.custom-table-responsive {
    padding: 10px !important;
}

.custom-table {
    min-width: 900px !important;
}

.custom-table thead tr,
.custom-table thead th {
    border-top: none !important;
    border-bottom: none !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    letter-spacing: 0.1rem !important;
}

.custom-table tbody th,
.custom-table tbody td {
    color: var(--cor-color-shadow) !important;
    font-weight: 400 !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    font-size: 14px !important;
}

.custom-table tbody th small,
.custom-table tbody td small {
    color: var(--cor-laranja3) !important;
    font-weight: 300 !important;
}

.custom-table tbody tr:not(.spacer) {
    border-radius: 7px !important;
    overflow: hidden !important;
    -webkit-transition: 0.3s all ease !important;
    -o-transition: 0.3s all ease !important;
    transition: 0.3s all ease !important;
}

.custom-table tbody tr:not(.spacer):hover {
    -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1) !important;
}

.custom-table tbody tr th,
.custom-table tbody tr td {
    background: var(--cor-de-fundo) !important;
    border: none !important;
}

.custom-table tbody tr th:first-child,
.custom-table tbody tr td:first-child {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 2px !important;
}

.custom-table tbody tr th:last-child,
.custom-table tbody tr td:last-child {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 0px;
}

.custom-table tbody tr.spacer td {
    padding: 0 !important;
    height: 10px;
    border-radius: 0 !important;
    background: transparent !important;
}

.custom-table tbody tr td button {
    width: 100% !important;
    max-width: none !important;
    padding: 5px 10px !important;
}

.custom-table tbody tr.active {
    opacity: 0.4 !important;
}